---

import Layout from '../layouts/Layout.astro';
import FeaturesSection from '../components/FeaturesSection.astro';
import PromotionalBanner from '../components/PromotionalBanner.astro';
import CategoriesSection from '../components/CategoriesSection.astro';
import Footer from '../components/Footer.astro';
import HomeSection from '../components/HomeSection.astro'
import ContactForm from '../components/ContactForm.astro';
---

<Layout>
	<HomeSection/>
	<div class="block sm:hidden w-full bg-black/70">
	<ContactForm class="w-full rounded-none"/>
	</div>

	<FeaturesSection />

	<PromotionalBanner />

	<CategoriesSection />

	<Footer />
</Layout>