---
import { Image } from 'astro:assets';
import robot from '../../public/images/robot.jpg'
---

<section class="w-full bg-[#000] ">
  <div class="container mx-auto px-6 sm:px-16 max-w-7xl max-sm:py-12">
    <div class="text-white rounded-2xl  shadow-lg">
      <div class="grid grid-cols-1 md:grid-cols-4  items-center sm:gap-1 gap-6">
        
        <!-- Left Side - Call to Action Button -->
        <div class="flex justify-center  col-span-1">
          <button id="openModal" class="bg-[#e21414] hover:bg-[#e21414bd] text-white font-bold py-4 px-8 rounded-xl text-lg transition-colors shadow-lg cursor-pointer">
            Cotiza gratis
          </button>
        </div>

        <!-- Center - Text Content -->
        <div class="text-center lg:text-left col-span-2">
          <h2 class="text-2xl lg:text-3xl font-bold mb-4 leading-tight">
            ¡Protección garantizada en tu hogar!
          </h2>
          <p class="text-sm font-medium">
            Seguridad confiable, tecnología avanzada y tranquilidad para ti y tu familia.
          </p>
        </div>

        <!-- Right Side - Visual Elements & Branding -->
        <div class="flex flex-col items-center lg:items-end space-y-6">
          <Image src={robot} alt="Logo Robot" width={robot.width / 2}
          densities={[1.5, 2]} loading="lazy" decoding='async'/>          
        </div>
      </div>
    </div>
  </div>
</section>